In [1]:
import pandas as pd

#load in new data
df = pd.read_csv("messy_cars.csv")
df.head()

# droping rows if the value is missing

df_dropped = df.dropna()

df_dropped.head(20)

   Car_num      Brand          Mod    Yr    Money     Miles   Color
1   CAR002  Chevrolet        Coupe  2009  42065.0  119752.0    Blue
2   CAR003        BMW          SUV  2022  31557.0   53984.0     Red
3   CAR004  Chevrolet    Hatchback  2001  38763.0   45774.0  Yellow
4   CAR005  Chevrolet    Hatchback  2006  37606.0    7568.0   Green
5   CAR006       Ford        Coupe  2023  16534.0  125151.0   Black
6   CAR007        BMW    Hatchback  2002  34127.0  198664.0   White
10  CAR011      Honda  Convertible  2011  29253.0  141330.0     Red
11  CAR012        BMW        Coupe  1998  29276.0   44504.0   Black
14  CAR015      Honda          SUV  1998  13529.0   66858.0   Black
19  CAR020      Honda          SUV  1998  26243.0   31854.0   Black
20  CAR021       Ford        Sedan  2016  44099.0   69505.0     Red
23  CAR024     Toyota          SUV  2020  43044.0   27662.0   White
24  CAR025     Toyota    Hatchback  2006  56214.0   13392.0   Green