In [10]:
#Load dataset into DataFrame & inspect first few columns
import pandas as pd

df = pd.read_csv("sales_with_nans.csv") #Load dataset into DataFrame

print(df.head()) # inspect first few rows

       Group Customer_Segment  Sales_Before  Sales_After  \
0    Control       High Value    240.548359   300.007568
1  Treatment       High Value    246.862114   381.337555
2    Control       High Value    156.978084   179.330464
3    Control     Medium Value    192.126708   229.278031
4        NaN       High Value    229.685623          NaN

   Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
0                     74.684767                          NaN            No
1                    100.000000                   100.000000           Yes
2                     98.780735                   100.000000            No
3                     49.333766                    39.811841           Yes
4                     83.974852                    87.738591           Yes

In [30]:
# Check column names and missing values
#df.columns
#df.info
import pandas as pd

df_info = pd.DataFrame({
    "Column": df.columns,
    "Missing": df.isna().sum(),
})
print(df_info)

                                                    Column  Missing
Group                                                Group     1401
Customer_Segment                          Customer_Segment     1966
Sales_Before                                  Sales_Before     1522
Sales_After                                    Sales_After      767
Customer_Satisfaction_Before  Customer_Satisfaction_Before     1670
Customer_Satisfaction_After    Customer_Satisfaction_After     1640
Purchase_Made                                Purchase_Made      805

In [18]:
# Total Sales before & after

total_before = df["Sales_Before"].sum()
total_after = df["Sales_After"].sum()

print("Total sales before:", total_before)
print("Total sales after:", total_after)

Total sales before: 1727112.7109819734
Total sales after: 2589468.2727230373

In [19]:
# Average Sales before & after 

avg_before = df["Sales_Before"].mean()
avg_after = df["Sales_After"].mean()

print("Average sales before:", avg_before)
print("Average sales after:", avg_after)

Average sales before: 203.71699822858852
Average sales after: 280.45795220654577

In [28]:
# Average satisfaction before & after
avg_satisfaction = df[["Customer_Satisfaction_Before", "Customer_Satisfaction_After"]].mean()
print(avg_satisfaction)

Customer_Satisfaction_Before    70.252076
Customer_Satisfaction_After     73.872593
dtype: float64

In [31]:
# Minimum and maximum sales values
min_before = df["Sales_Before"].min()
max_before = df["Sales_Before"].max()

min_after = df["Sales_After"].min()
max_after = df["Sales_After"].max()

print("Minimum sales before:",min_before)
print("Maximum sales before:", max_before)
print("Minimum sales after:", min_after)
print("Maximum sales after:", max_after)

Minimum sales before: 24.85296575372195
Maximum sales before: 545.4225471380589
Minimum sales after: 32.414352282538246
Maximum sales after: 818.2199974644652

In [26]:
# Change in average sales & change in satisfaction
avg_sales_before = df["Sales_Before"].mean()
avg_sales_after = df["Sales_After"].mean()
change_in_sales = avg_sales_after - avg_sales_before

# Change in average satisfaction
avg_sat_before = df["Customer_Satisfaction_Before"].mean()
avg_sat_after = df["Customer_Satisfaction_After"].mean()
change_in_satisfaction = avg_sat_after - avg_sat_before

print("Change in Average Sales:", change_in_sales)
print("Change in Average Satisfaction:", change_in_satisfaction)

Change in Average Sales: 76.74095397795725
Change in Average Satisfaction: 3.620516690387902

In [27]:
#Get all rows for a specific customer_segment e.g high value
high_value_customers = df[df["Customer_Segment"] == "High Value"]
print(high_value_customers)

          Group Customer_Segment  Sales_Before  Sales_After  \
0       Control       High Value    240.548359   300.007568
1     Treatment       High Value    246.862114   381.337555
2       Control       High Value    156.978084   179.330464
4           NaN       High Value    229.685623          NaN
6       Control       High Value    191.713918   222.409356
...         ...              ...           ...          ...
9977  Treatment       High Value    151.747086   255.486232
9980  Treatment       High Value           NaN   276.287100
9983    Control       High Value    277.432532   324.187457
9984  Treatment       High Value    234.970184   360.308311
9996    Control       High Value    186.488285   216.225457

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
0                        74.684767                          NaN            No
1                       100.000000                   100.000000           Yes
2                        98.780735                   100.000000            No
4                        83.974852                    87.738591           Yes
6                        89.967827                    85.120975           Yes
...                            ...                          ...           ...
9977                     98.720703                    88.971841           Yes
9980                     84.663360                    77.938680           Yes
9983                     85.397880                    85.598238           Yes
9984                    100.000000                    89.778035           Yes
9996                     92.261537                   100.000000           NaN

[2638 rows x 7 columns]

In [7]:
# Get all customers with sales above the average
above_avg_sales = df[(df["Sales_Before"] > df["Sales_Before"].mean()) & 
                    (df["Sales_After"] > df["Sales_After"].mean())]
print(above_avg_sales)

          Group Customer_Segment  Sales_Before  Sales_After  \
0       Control       High Value    240.548359   300.007568
1     Treatment       High Value    246.862114   381.337555
9     Treatment       High Value    235.071493   352.756872
16    Treatment              NaN    306.701452   485.135424
20    Treatment       High Value    225.163165   355.210451
...         ...              ...           ...          ...
9986    Control              NaN    227.494626   281.003011
9988  Treatment        Low Value    211.535677   323.226205
9992  Treatment     Medium Value    209.913990   320.791145
9995  Treatment              NaN    259.695935   415.181694
9997  Treatment        Low Value    208.107142   322.893351

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
0                        74.684767                          NaN            No
1                       100.000000                   100.000000           Yes
9                        72.919851                    70.753225            No
16                       77.431662                    78.361282           NaN
20                             NaN                    95.054317            No
...                            ...                          ...           ...
9986                     98.937968                          NaN           Yes
9988                     50.231643                          NaN           Yes
9992                     81.851752                    83.163704           Yes
9995                     88.438776                    98.418593           NaN
9997                     55.915870                          NaN            No

[3007 rows x 7 columns]

In [12]:
#filter with multiple conditions
#get the age and score from students
cust_purchase = df[(df["Sales_After"] > 300) & (df["Purchase_Made"] == "Yes") ]
cust_purchase.head(10)

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
23,Treatment,Medium Value,216.752126,342.643104,NaN,68.335141,Yes
44,Treatment,Medium Value,233.969610,366.828606,67.708283,78.127573,Yes
55,Treatment,NaN,223.109773,349.118506,46.709614,34.234825,Yes
56,Treatment,Medium Value,193.184956,310.199294,76.525578,79.219061,Yes
69,Treatment,Low Value,NaN,332.374201,51.439854,71.697865,Yes
72,Control,High Value,329.860683,393.672908,70.249026,88.772092,Yes
77,Treatment,Medium Value,230.265707,361.643303,NaN,NaN,Yes
79,Treatment,Low Value,186.969165,304.250513,NaN,NaN,Yes
86,Treatment,NaN,NaN,374.760679,54.468117,NaN,Yes

In [26]:
# Drop Rows with missing key values
df = pd.read_csv("sales_with_nans.csv") #Load dataset into DataFrame

print("Before dropping:") # print before Data
print(df)

# Drop rows with any missing values
df_cleaned = df.dropna()

print("\nAfter dropping:") # print cleaned Data
print(df_cleaned)

Before dropping:
          Group Customer_Segment  Sales_Before  Sales_After  \
0       Control       High Value    240.548359   300.007568
1     Treatment       High Value    246.862114   381.337555
2       Control       High Value    156.978084   179.330464
3       Control     Medium Value    192.126708   229.278031
4           NaN       High Value    229.685623          NaN
...         ...              ...           ...          ...
9995  Treatment              NaN    259.695935   415.181694
9996    Control       High Value    186.488285   216.225457
9997  Treatment        Low Value    208.107142   322.893351
9998  Treatment     Medium Value           NaN   431.974901
9999    Control        Low Value           NaN   124.402398

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
0                        74.684767                          NaN            No
1                       100.000000                   100.000000           Yes
2                        98.780735                   100.000000            No
3                        49.333766                    39.811841           Yes
4                        83.974852                    87.738591           Yes
...                            ...                          ...           ...
9995                     88.438776                    98.418593           NaN
9996                     92.261537                   100.000000           NaN
9997                     55.915870                          NaN            No
9998                     66.082462                    81.274030            No
9999                     55.692277                    65.288480           Yes

[10000 rows x 7 columns]

After dropping:
          Group Customer_Segment  Sales_Before  Sales_After  \
1     Treatment       High Value    246.862114   381.337555
2       Control       High Value    156.978084   179.330464
3       Control     Medium Value    192.126708   229.278031
6       Control       High Value    191.713918   222.409356
9     Treatment       High Value    235.071493   352.756872
...         ...              ...           ...          ...
9984  Treatment       High Value    234.970184   360.308311
9985  Treatment        Low Value    190.882210   300.525743
9987  Treatment     Medium Value    164.011355   247.268535
9989    Control     Medium Value    109.386552   145.054224
9992  Treatment     Medium Value    209.913990   320.791145

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
1                       100.000000                   100.000000           Yes
2                        98.780735                   100.000000            No
3                        49.333766                    39.811841           Yes
6                        89.967827                    85.120975           Yes
9                        72.919851                    70.753225            No
...                            ...                          ...           ...
9984                    100.000000                    89.778035           Yes
9985                     51.074736                    56.101875           Yes
9987                     64.118872                    75.671792           Yes
9989                     70.249026                    76.630699            No
9992                     81.851752                    83.163704           Yes

[3412 rows x 7 columns]

In [16]:
# fill missing satisfaction values with the mean

df["Customer_Satisfaction_Before"] = df["Customer_Satisfaction_Before"].fillna(
    df["Customer_Satisfaction_Before"].mean()
)

df["Customer_Satisfaction_After"] = df["Customer_Satisfaction_After"].fillna(
    df["Customer_Satisfaction_After"].mean()
)

df.head(10)

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,73.872593,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes
5,Treatment,NaN,135.573003,218.559988,58.075342,69.404918,No
6,Control,High Value,191.713918,222.409356,89.967827,85.120975,Yes
7,Control,Low Value,173.752555,213.168232,66.984711,67.881558,NaN
8,NaN,High Value,208.308577,248.178830,95.366670,84.790294,Yes
9,Treatment,High Value,235.071493,352.756872,72.919851,70.753225,No

In [22]:
# Fill missing Purchase_Made with "Unknown"

df["Purchase_Made"] = df["Purchase_Made"].fillna("Unknown")
df.head(10)

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes
5,Treatment,NaN,135.573003,218.559988,58.075342,69.404918,No
6,Control,High Value,191.713918,222.409356,89.967827,85.120975,Yes
7,Control,Low Value,173.752555,213.168232,66.984711,67.881558,Unknown
8,NaN,High Value,208.308577,248.178830,95.366670,84.790294,Yes
9,Treatment,High Value,235.071493,352.756872,72.919851,70.753225,No

In [29]:
# Group by Customer_Segment & calculate average sales before & after
avg_sales = df.groupby("Customer_Segment")[["Sales_Before", "Sales_After"]].mean()

print(avg_sales)

                  Sales_Before  Sales_After
Customer_Segment
High Value          224.321621   308.102950
Low Value           182.721746   251.896660
Medium Value        203.964615   281.181461